body {
    font-family: 'Source Sans Pro', sans-serif;
}
.tablemain {
    border-collapse: collapse;
}
.tableheader {
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}
.legendcell {
    padding: 10px;
    border: 1px solid black;
}
.tablecell {
    padding: 10px;
    border: 1px solid black;
}
.maindiv {
    max-width: 960px;
    margin: auto;
}
